.beaconSchoolList {
  width: 100%;
  overflow: auto;
  scrollbar-width: 0;
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 0rem 1.5rem;
}

.beaconSchoolListMask {
  mask-image: linear-gradient(
    to top,
    black calc(100% - 0.5rem),
    transparent 100%
  );
}

.beaconSchoolListLoading {
  height: 100%;
  justify-content: center;
}

.beaconSchoolList::-webkit-scrollbar {
  display: none;
}
